/* * {
  margin: 0;
  padding: 0;
} */

.background {
  height: 40vh; 
  width: 100vw;
  position: relative;  
  background: url(../image/profileimg.png) no-repeat center;
  background-size: cover;
  z-index: 1;
}  

.background::before {
  content: ""; 
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(rgba(255,255,255,0) 0, #fff 80%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profile {
  /* background-color: darkgrey; */
  padding-top: 50px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-around; */
}

.profile-1 {
  /* background-color: aqua; */
  height: 200px;
  width: 200px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(93, 92, 92, 0.3);
}

.profile-1 img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.profile-2 {
  /* background-color: cornsilk; */
  height: 200px;
  width: 35%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.profile-2 p {
  background-color: rgb(244, 241, 241);
  padding-left: 30px;
  height: 30%;
  line-height: 60px;
  /* border: 1px solid black; */
  box-shadow: 0 2px 4px rgba(93, 92, 92, 0.3);
}

.profile-3 {
  display: flex;
}

.profile-3 a {
  margin-right: 10px;
  font-size: 20px;
  color: rgb(8, 8, 114);
}

.add-button {
  font-size: 25px;
  color: rgb(71, 68, 68);
 }
 
 .chunks {
   /* background-color: bisque; */
   margin: 50px auto 50px;
   height: 600px;
   width: 90vw;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 
 .chunk {
   /* background-color: burlywood; */
   height: 45%;
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
 }
 
 .task- {
   border: 1px solid black;
   width: 22%;
   margin: 0 1.5%;
   position: relative;
 }
 
 .task {
   /* background-color: lime; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .bookmark {
   position: absolute;
   top: 0;
   right: 0;
   padding: 5px;
 }
 
 .image_at {
   /* background-color: aqua; */
   width: 50px;
   height: 50px;
 }
 
 .image_at img {
   height: 100%;
   width: 100%;
   object-fit: cover;
 }
 
 /* アコーディオン */
 .f-row {
   /* background-color: aqua; */
   margin-left: 6vw;
   margin-top: 30px;
   width: 250px;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 
 .dropdown{
   display:none;
 }
 
 .function label {
   display:block;
   width: 200px;
   padding: 5px 20px;
   /* background:gold; */
   border: 1px solid black;
 }
 
 .function li {
   display: block;
   width: 200px;
   padding: 5px 20px;
   /* background-color: gold; */
   border-bottom: 1px solid black;
 
 }
 
 li:hover,
 label:hover{
   background: whitesmoke;
 }
 
 /* .function li::before,
 .function label::before {
   background-color: bisque;
   content:"";
   display:block;
   margin-top: 5px;
   margin-right: 20px;
   height: 10px;
   width: 10px;
   border-top:#000 2px solid;
   border-left:#000 2px solid;
   transform:rotate(135deg);
 } */
 
 input[type="checkbox"]{
   display:none;
 }
 label[for="menu"]{
   display:block;
   /* background:orange; */
 }
 label[for="menu"]::before{
   transform:rotate(225deg);
 }
 #menu:checked + .dropdown{
   display:block;
 }
 
 .detail-btn {
   position: relative;/*+マークの位置基準とするためrelative指定*/
   cursor: pointer;
   font-size:1rem;
   font-weight: normal;
   padding: 3% 3% 3% 50px;
   transition: all .5s ease;
 }
 
 /*アイコンの＋と×*/
 .detail-btn::before,
 .detail-btn::after{
   position: absolute;
   content:'';
   width: 15px;
   height: 2px;
   background-color: #333;
   
 }
 .detail-btn::before{
   top:48%;
   left: 15px;
   transform: rotate(0deg);
   
 }
 .detail-btn::after{    
   top:48%;
   left: 15px;
   transform: rotate(90deg);
 
 }
 
 /*　closeというクラスがついたら形状変化　*/
 
 .detail-btn.close::before{
 transform: rotate(45deg);
 }
 
 .detail-btn.close::after{
 transform: rotate(-45deg);
 }
 
 /*アコーディオンで現れるエリア*/
 .box {
   display: none;/*はじめは非表示*/
   background: #f3f3f3;
 margin:0 3% 3% 3%;
   padding: 3%;
 }
 
 .limit-text{
   color: red !important;
 }
 
 .btn-container{ 
   display: flex;
   flex-direction: row;
   /* justify-content: ; */
 }
 
 /* 共同開発者 */
 .co-producer {
   width: 15px;
   height: 15px;
   display: flex;
 }
 
 .co-producer img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 50%;
 }
 